body {
background: #fefefe;
}
body,html ,	div,canvas {
	margin: 0;
	padding: 0;
}

#wrap {
	overflow: hidden;
	width:100%;
	padding-top: 20px;
	box-sizing: border-box;
	padding-bottom: 100px;
}

.loader {
	display: none;
	height: 80px;
    line-height: 80px;
    font-size: 32px;
    font-family: Arial;
    font-weight: bold;
    color: #0086ff;
    text-align: center;
}

#photos {
	overflow: hidden;
	margin: 0 auto;	
}

.img img {
	height: 100%;
}

.row {
	margin-bottom: 10px;
}

.row.month i{
	font-style: italic;
	font-weight: normal;

}
.row.month{
	margin-top: 30px;
    font: bold 20px Arial;
    color: #555;
}

.img {
	cursor: pointer;
	height: 250px;
	float: left;
	margin-left: 10px;
}

button {
	font-style: 20px;
	width: 200px;
	height: 40px;
}

.popup img{
	width: 100%;
}

.popup.vertical {
	width: 500px;
	margin-left: -250px;
}

.popup {
	position: fixed;
	top:100px;
	width: 800px;
	left:50%;
	margin-left: -400px;
	border: 15px solid #fff;
	border-box:3px;
}

.popup > div:hover {
	background: #222;
	opacity: 0.3;
}

.next-img {
	width: 25%;
	right: 0;
	height: 100%;
	top: 0;
	position: absolute;
	cursor: pointer;
}
.prev-img {
	cursor: pointer;
	width: 25%;
	left: 0;
	height: 100%;
	top: 0;
	position: absolute;
}

#photoViewer {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
}

#photoViewer .container {
	transition: width 0.200s;
    box-sizing: border-box;
    float: left;
    height: 100%;
    position: relative;
    width: calc(100% - 400px);
}

#photoViewer.collapsed .container {
	width:100%;
}

#photoViewer .container .wrapVertical{
	position: relative;
	/*top:50%;*/
	height: 100%;
}

#photoViewer .container .photo{
	/*position: absolute;*/
	/*top:-50%;*/
	height: 100%;
	width: 100%;
	text-align: center;
}

#photoViewer .container .photo img{
	height: 100%;
	position: relative;
}
#photoViewer .container .photo .rotate{
	height: 100%;
}

#photoViewer .container .photo .rotate-3 img{
	transform: rotate(180deg);
}


#photoViewer .container .photo .rotate-6 img{
	transform: rotate(90deg);
}

#photoViewer .container .photo .rotate-9 img{
	transform: rotate(-90deg);
}



#photoViewer .imageInfo {
	position: absolute;
	width: 400px;
	margin: 0;
	box-sizing:border-box;
	padding:0 20px;
	background: #fff;
	height: 100%;
	padding-top: 50px;
	transition: right 0.200s;
	right: 0;
}

#photoViewer.collapsed .imageInfo {
	right:-400px;
}

#photoViewer .imageInfo dd,
#photoViewer .imageInfo dt {
	font-family: Arial;
	font-size: 18px;
	color:#222;
	height: 40px;
	line-height: 40px;
	float: left;
	margin: 0;
}

#photoViewer .imageInfo dt {
	font-weight: bold;
	width: 30%;
}

#photoViewer .imageInfo dd {
	width:70%;
}

#photoViewer .arrow {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	position: absolute;
	top:50%;
	margin-top: -40px;
	opacity: 0.3;
	cursor: pointer;
	background-position: 15px 15px;
	background-repeat: no-repeat;
}
#photoViewer .arrow:hover {
	background-color: rgba(50,50,50,0.7);
	opacity: 1;
}
#photoViewer .arrow.left {
	left:15px;
	background-image: url(arrow-left.png)
}
#photoViewer .arrow.right {
	right: 15px;
	background-image: url(arrow-right.png)
}

#photoViewer .back{
	font-family: Arial;
	font-weight: bold;
	position: absolute;
	left: 25px;
	top: 25px;
	height: 50px;
	line-height: 50px;
	background:#333;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	width: 50px;
	text-align: center;

}


#photoViewer .opener{
	outline: none;
	position: absolute;
    left: -60px;
    width: 60px;
    height: 45px;
    background: #ffa500;
    cursor: pointer;
    top: 20px;
    color: #fff;
    font-size: 24px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    padding: 0;
    border: none;
}


div[data-template] {
	display: none;
}